ListenPort=5556
SecureListener=false
AuthenticationEnabled=false
ListenAddress=0.0.0.0
NativeVersionEnabled=true
DomainsFile={{ domain_home }}/nodemanager/domains.lst
LogFile={{ domain_home }}/nodemanager/nodemanager.log